.bash_*
.cache/
.cargo/
!.cargo/config.toml
.cargo/registry/
.config/dunst/
.config/go/
.config/google-chrome/
.config/ibus/
.config/Code - OSS/
.config/Code\ -\ OSS/
.config/sublime-text/Backup/
.config/obs-studio/logs/
.config/obsidian/
.config/pulse/
.config/clash/
.fehbg
!.config/google-chrome/Default
Desktop/
Documents/
Downloads/
.fzf/
go/
.icons/
!.icons/Bibata-Modern-Ice/
.local/
!.local/bin/
!.local/share/bin/
.mozilla/
Music/
.npm/
Pictures/
plugged/
Public/
__pycache__/
.ssh/
Templates/
.themes/
tmp/
Videos/
.vscode/
.vscode-oss/
wall.set
.xsession-errors*
.zcompdump*
.config/Code*/
