.bash_*
*tmp
.cache/
.cargo/
.rustup/
!.cargo/config.toml
.cargo/registry/
.config/dunst/
.config/go/
.config/google-chrome/
.config/ibus/
.config/Code - OSS/
.config/Code\ -\ OSS/
.config/sublime-text/Backup/
.config/obs-studio/logs/
.config/obsidian/
.config/pulse/
.config/clash/
.config/cfg_backups/
.fehbg
!.config/google-chrome/Default
Desktop/
Documents/
Downloads/
.fzf/
gowork/
go/
.icons/
!.icons/Bibata-Modern-Ice/
.local/
!.local/bin/
!.local/share/bin/
.mozilla/
Music/
.npm/
Pictures/
plugged/
Public/
__pycache__/
.ssh/
Templates/
.themes/
tmp/
Videos/
.vscode/
.vscode-oss/
wall.set
.xsession-errors*
.zcompdump*
.config/Code*/
.cargo/.global-cache
.config/dconf/user
.config/ibus/bus/20b5115b09364569b8d3c65aa77cd376-unix-1
.config/ibus/bus/20b5115b09364569b8d3c65aa77cd376-unix-wayland-1
.dev-sidecar/logs/
.config/@docmirror/
