registry=https://registry.npmmirror.com/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=http://npmmirror.com/mirrors/electron-builder-binaries/
proxy=http://127.0.0.1:31180
https-proxy=http://127.0.0.1:31181
strict-ssl=false
