<openbox_menu>
	<menu id="root-menu">
		<item label="Budgie&#26700;&#38754;&#35774;&#32622;" original="Budgie Desktop Settings">
			<action name="Execute" command="budgie-desktop-settings" />
		</item>
		<item label="&#31995;&#32479;&#35774;&#32622;" original="System Settings">
			<action name="Execute" command="budgie-control-center" />
		</item>
	</menu>
</openbox_menu>